{extend name="layout/layout" /}
{block name="title"}用户详情 - v2ex{/block}
{block name="main"}
<div>
    <div class="sep20"></div>
    <div class="box">
        <div class="cell">
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                <tbody>
                <tr>
                    <td width="73" valign="top" align="center"><img src="{$user.avatar}" class="avatar" border="0"
                                                                    align="default">
                        <div class="sep10"></div>
                        <strong class="online">ONLINE</strong></td>
                    <td width="10"></td>
                    <td width="auto" valign="top" align="left">
                        <div class="fr">
                        </div>
                        <h1 style="margin-bottom: 5px;">{$user.username}</h1>

                        <span class="bigger"></span>

                        <div class="sep10"></div>
                        <span class="gray"><li class="fa fa-time"></li> &nbsp; V2EX 第 {$user.id} 号会员，加入于 {$user.reg_date}，今日活跃度排名 <a
                                href="#">100</a></span>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="sep5"></div>
        </div>
        <div class="cell">
            立志成为包工头的搬砖者
        </div>
    </div>
    <div class="sep20"></div>
    <div class="box">
        <div class="cell_tabs">
            <div class="fl"><img src="//v2ex.assets.uxengine.net/avatar/ede3/df7d/45418_normal.png?m=1409314446"
                                 width="24" style="border-radius: 24px; margin-top: -2px;" border="0"></div>
            <a href="/member/letitbesqzr" class="cell_tab_current">{$user.username}创建的所有主题</a><a
                href="/member/letitbesqzr/qna" class="cell_tab">提问</a><a href="/member/letitbesqzr/tech"
                                                                         class="cell_tab">技术话题</a><a
                href="/member/letitbesqzr/play" class="cell_tab">好玩</a><a href="/member/letitbesqzr/jobs"
                                                                          class="cell_tab">工作信息</a><a
                href="/member/letitbesqzr/deals" class="cell_tab">交易信息</a><a href="/member/letitbesqzr/city"
                                                                             class="cell_tab">城市相关</a></div>
        {volist name='articles' id='article'}
        <div class="cell item" style="">
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                <tbody>
                <tr>
                    <td width="auto" valign="middle"><span class="item_title"><a href="/t/{$article.id}">{$article.title}</a></span>
                        <div class="sep5"></div>
                        <span class="small fade"><div class="votes"></div><a class="node"
                                                                             href="/go/{$article.category.id}">{$article.category.name}</a> &nbsp;•&nbsp; <strong><a
                                href="/member/{$user.username}">{$user.username}</a></strong> &nbsp;•&nbsp;{$article.create_date}&nbsp;•&nbsp; 最后回复来自 <strong><a
                                href="/member/{$article.lastReply.username}">{$article.lastReply.username}</a></strong> </span>
                    </td>

                </tr>
                </tbody>
            </table>
        </div>
        {/volist}
        <div class="inner"><span class="chevron">»</span> <a href="/member/letitbesqzr/topics">{$user.username}
            创建的更多主题</a></div>


    </div>
    <div class="sep20"></div>
    <div class="box">
        <div class="cell"><span class="gray">{$user.username} 最近回复了</span></div>
        {volist name='comments' id='comment'}
        <div class="dock_area">
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                <tbody>
                <tr>
                    <td style="padding: 10px 15px 8px 15px; font-size: 12px; text-align: left;">
                        <div class="fr"><span class="fade">{$comment.create_date}</span></div>
                        <span class="gray">回复了 <a href="/member/{$comment.username}">{$comment.username}</a> 创建的主题
                            <span class="chevron">></span> <a
                                    href="/go/{$comment.categoryId}">{$comment.categoryName}</a> <span
                                    class="chevron">›</span> <a
                                    href="/t/{$comment.id}">{$comment.articleTitle}</a></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="cell">
            <div class="reply_content">{$comment.content}</div>
        </div>
        {/volist}

        <div class="inner"><span class="chevron">»</span> <a href="/member/{$user.username}">{$user.username}创建的更多回复</a>
        </div>
    </div>

</div>
{/block}